- content_for(:title) do
  Councils

%h2 Councils and Territorial Authorities

- if policy(Council).new?
  %p
    = link_to new_admin_council_path, class: 'pure-button' do
      = fa_icon 'plus'
      New Council

%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th Name
      %th Active
      %th
      %th
      %th

  %tbody
    - @councils.each do |council|
      %tr
        %td= council.name
        %td= council.active
        %td= link_to 'Show', admin_council_path(council)
        - if policy(Council).edit?
          %td= link_to 'Edit', edit_admin_council_path(council)
        %td
          - if council.rebate_forms.size.positive?
            #{council.rebate_forms.size} Rebate forms collected
          - elsif policy(Council).destroy?
            = link_to admin_council_path(council), method: :delete, data: { confirm: 'Are you sure?' }, class: 'pure-button' do
              = fa_icon 'trash'
              Delete
