%p#notice= notice

%h2
  = @council.name
%p
  %b Active:
  = @council.active

- if policy(@council).edit?
  %p
    = link_to edit_admin_council_path(@council), class: 'pure-button' do
      = fa_icon 'edit'
      edit

%p #{@council.rebate_forms.size} Rebate forms collected
%p #{@council.properties.size} Rateable properties in database
%p #{@council.rates_bills.size} Rates bills known in database

%p= link_to 'Back', admin_councils_path
