%p#notice= notice

%h1
  = @council.name
  (#{@council.short_name})

%p
  = link_to 'Back', admin_councils_path, class: 'pure-button'
  - if policy(@council).edit?
    = link_to edit_admin_council_path(@council), class: 'pure-button' do
      = fa_icon 'edit'
      edit
  &nbsp;
  - if @council.active
    = link_to("#{ENV['APP_URL']}?council=#{@council.short_name}", target: "_new", class: 'pure-button') do
      Launch #{@council.short_name} app
  - else
    Not active

%hr/
.pure-g
  - @council.properties.group(:rating_year).size.each do |rating_year, count|
    .pure-u-1-2
      %h2 Applications, year ending in #{rating_year}
      %p
        = render 'admin/analytics/applications',
        	rebate_forms: RebateForm.joins(:property).where(properties: {rating_year: rating_year, council_id: @council.id})
    .pure-u-1-2
      = pie_chart RebateForm.joins(:property).where(properties: {rating_year: rating_year, council_id: @council.id}).group(:status).count, title: "#{rating_year} Completion rate", donut: true


%hr/

.pure-g
  .pure-u-1-3
    = line_chart [{name: "Witnessed", data: Signature.by_council(@council).witness.group_by_day("signatures.created_at").count},
      {name: 'Applied', data: RebateForm.group_by_day(:created_at).count}]

  .pure-u-1-3
    = column_chart RebateForm.joins(:property).by_council(@council).group_by_hour_of_day(:created_at, format: "%H %P", time_zone: 'Pacific/Auckland').count, title: 'Applications by Hour of day'

  .pure-u-1-3
    = column_chart Signature.by_council(@council).witness.group_by_hour_of_day("signatures.created_at", format: "%H %P", time_zone: 'Pacific/Auckland').count, title: 'Witnessing by Hour of day'
