%p#notice= notice

%h1
  = @council.name
  (#{@council.short_name})

%p
  = link_to 'Back', admin_councils_path, class: 'pure-button'
  - if policy(@council).edit?
    = link_to edit_admin_council_path(@council), class: 'pure-button' do
      = fa_icon 'edit'
      edit
  &nbsp;
  - if @council.active
    = link_to("#{ENV['APP_URL']}?council=#{@council.short_name}", target: "_new", class: 'pure-button') do
      Launch #{@council.short_name} app
  - else
    Not active

%hr/
%div
  - @council.properties.group(:rating_year).size.each do |rating_year, count|
    %div
      %h2 Applications, year ending in #{rating_year}
    %div
      = pie_chart RebateForm.joins(:property).where(properties: {rating_year: rating_year, council_id: @council.id}).group(:status).count, title: "#{rating_year} Completion rate", donut: true


%hr/
