- if current_user.present?

  .pure-g
    - ["2018", "2019"].each do |rating_year|
      .pure-u-1-3
        = pie_chart RebateForm.joins(:property).where(properties: {rating_year: rating_year}).group(:completed).count, title: "#{rating_year} Completion rate", donut: true
    .pure-u-1-3
      %table.pure-table
        %tr
          %th
          %th TOTALS
          %th Sum
          %th Average rebate
        %tr
          %th Completed
          %td= RebateForm.where(completed: true).size
          %td= number_to_currency RebateForm.where(completed: true).sum(:rebate)
          %td= number_to_currency RebateForm.where(completed: true).average(:rebate)
        %tr
          %th Not Completed
          %td= RebateForm.where(completed: false).size
          %td= number_to_currency RebateForm.where(completed: false).sum(:rebate)
          %td= number_to_currency RebateForm.where(completed: false).average(:rebate)
        %tr
          %th Total
          %td= RebateForm.all.size
          %td= number_to_currency RebateForm.all.sum(:rebate)
          %td= number_to_currency RebateForm.all.average(:rebate)
    .pure-u-1-3
      = line_chart [{name: "Witnessed", data: Signature.witness.group_by_day("signatures.created_at").count},
        {name: 'Applied', data: RebateForm.group_by_day(:created_at).count}]
    .pure-u-1-3
      = column_chart RebateForm.group_by_hour_of_day(:created_at, format: "%H %P", time_zone: 'Pacific/Auckland').count, title: 'Applications by Hour of day'
    .pure-u-1-3
      = column_chart Signature.witness.group_by_hour_of_day("signatures.created_at", format: "%H %P", time_zone: 'Pacific/Auckland').count, title: 'Witnessing by Hour of day'
    .pure-u-1-3
      = column_chart RebateForm.group_by_day_of_week(:created_at, format: "%A", time_zone: 'Pacific/Auckland').count, title: 'Day of week'
    .pure-u-1-3
      = area_chart RebateForm.group_by_day(:created_at).sum(:rebate), title: "Rebate $ per day"
