%h3 Applicant Details
%table.pure-table.pure-table-bordered
  %tr
    %th Applicant Name
    %td= rebate_form.fields['full_name']
  %tr
    %th Email
    %td= rebate_form.fields['email']
  %tr
    %th Phone Number
    %td= rebate_form.fields['phone_number']
  %tr
    %th Income
    %td $ #{rebate_form.income}

  %tr
    %th Dependants
    %td= rebate_form.dependants
