= form_for [:admin, @rebate_form] do |f|
  = f.label :valuation_id
  = f.text_field :valuation_id
  = f.label :token
  = f.text_field :token
  - if @rebate_form.errors.any?
    #error_explanation
      %h2 #{pluralize(@rebate_form.errors.count, "error")} prohibited this admin_rebate_form from being saved:
      %ul
        - @rebate_form.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
