= form_for [:admin, @rebate_form], class: 'pure-form pure-form-aligned' do |f|
  = render 'admin/form_errors', form_model: @rebate_form

  .pure-control-group
    %h4= label_tag :full_name
    = text_field(:rebate_form, 'fields[full_name]'.to_sym, value: @rebate_form.fields['full_name'])

  .pure-control-group
    %h4= label_tag :dependants
    = number_field(:rebate_form, 'fields[dependants]', value: @rebate_form.fields['dependants'])

  .pure-control-group
    %h4= label_tag :income
    $
    = number_field(:rebate_form, 'fields[income]', value: @rebate_form.fields['income'])

  / .pure-control-group
  /   %h4= label_tag :lived_here_before_july_2018
  /   %p
  /     = radio_button_tag(:rebate_form, 'fields[lived_here_before_july_2018]', value: 'yes')
  /     yes
  /   %p
  /     = radio_button_tag(:rebate_form, 'fields[lived_here_before_july_2018]', value: 'no')
  /     no

  .actions
    = f.submit 'Save', class: 'pure-button'
