%p= paginate @rebate_forms.page(params[:page])

%table.pure-table.pure-table-bordered.rebate-results-table
  %thead
    %tr
      %th Name
      %th Address
      %th

  %tbody.rebate-results-table-body
    - @rebate_forms.page(params[:page]).each do |rebate_form|
      %tr{ class: rebate_form.completed ? 'pure-table-odd' : '' }
        %td.rebate-results-table-cell= rebate_form.fields['full_name']
        %td.rebate-results-table-cell
          - if rebate_form.property.present?
            %p
              = rebate_form.property.location
              %br/
              = rebate_form.property.suburb
              %br/
              = rebate_form.property.town_city
        %td.rebate-results-table-cell
          = link_to admin_rebate_form_path(rebate_form), id: "right-arrow" do
            =image_tag("blue-right-arrow.svg")

%p= paginate @rebate_forms.page(params[:page])
