%p= paginate @rebate_forms.page(params[:page])

%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th Name
      %th Address

  %tbody
    - @rebate_forms.page(params[:page]).each do |rebate_form|
      %tr{ class: rebate_form.completed ? 'pure-table-odd' : '' }
        %td= rebate_form.fields['full_name']
        %td
          - if rebate_form.property.present?
            %p
              = rebate_form.property.location
              %br/
              = rebate_form.property.suburb
              %br/
              = rebate_form.property.town_city
        %td
          = link_to admin_rebate_form_path(rebate_form), class: 'pure-button' do
            show

%p= paginate @rebate_forms.page(params[:page])
