= form_tag(admin_rebate_forms_path, method: :get, class: 'pure-form pure-form-aligned') do
  %fieldset
    .pure-control-group
      %label Signed
      = radio_button_tag 'completed', true, @completed == true
      Signed
      = radio_button_tag 'completed', false, @completed == false
      Not-Signed

    .pure-control-group
      %label Name
      = text_field_tag :name, @name, placeholder: "Eg. John Doe"


    .pure-controls
      %button.pure-button.pure-button-primary{type: "submit"}
        = fa_icon 'search'
        Search
