.rebate-header-buttons
  = link_to admin_rebate_forms_path, id: 'back' do
    =image_tag("search.svg", class: 'rebate-header-icon')
  = link_to admin_rebate_form_path(@rebate_form), id: 'reload' do
    =image_tag("blue-reload.svg", class: 'rebate-header-icon')
  - unless @rebate_form.processed_state?
    = link_to 'EDIT', edit_admin_rebate_form_path, id: 'edit', class: 'pure-button rebate-edit'

.rebate-header
  %h2.rebate-title
    Customer details
    - if @rebate_form.not_signed_state?
      = link_to admin_rebate_form_generateqr_path(@rebate_form), id: 'generate_qr' do
        =image_tag("signature1.svg", class: 'rebate-generate-qr')
    - if @rebate_form.signed_state?
      .rebate-single-process-button
        = link_to admin_process_rebate_form_path(id: @rebate_form.id), action: :create, method: :post do
          Process
    - if @rebate_form.processed_state?
      .rebate-single-process-button
        = link_to admin_unprocess_rebate_form_path(id: @rebate_form.id), action: :destroy, method: :delete do
          Unprocess
          
  %h3.rebate-subtitle
    - if @rebate_form.signed_state?
      Signed and ready to process
    - if @rebate_form.processed_state?
      Processed
    - if @rebate_form.not_signed_state?
      Signature required

