%table.pure-table.pure-table-horizontal
  - @signatures.each do |type_name, signature|
    %tr
      %th= type_name
      - if signature.present?
        %td
          - if type_name == 'witness'
            %p= signature.name.presence || 'no name'
            %p= signature.role.presence || 'no role specified'
            %p= signature.created_at
        %td= image_tag(signature_image_path(signature), alt: 'signature', class: 'pure-image')
      - else
        %td Signature missing
