- @signatures.each do |type_name, signature|
  - if signature.present?
    %h2
      = type_name.capitalize
      Signature
    %p= image_tag(signature_image_path(signature), alt: 'signature', class: 'pure-image')
    - if type_name == 'witness'
      %li= signature.name.presence || 'no name'
      %li= signature.role.presence || 'no role specified'
      %li= signature.created_at.localtime

  - else
    %td Signature missing
