- if signature.present?
  / %p= image_tag(signature_image_path(signature), alt: 'signature')
  %p
    = signature.name.presence || "no name"
    (
    = signature.role.presence || "no role specified"
    )
  %p
    = signature.created_at.localtime
    (
    = time_ago_in_words signature.created_at
    ago
    )
  %p
    %strong
      = distance_of_time_in_words signature.time_after_application
      after applying
