%h1="Edit Application: #{@rebate_form.valuation_id}, #{@rebate_form.property.rating_year}"

= render 'form'

= link_to 'Show', admin_rebate_form_path(@rebate_form)
\|
= link_to 'Back', admin_rebate_forms_path
