- content_for :title, "RatesRebate"

%h1 Listing Rebate forms

= form_tag(admin_rebate_forms_path, method: :get) do
  = text_field_tag :location, @location
  = submit_tag 'Search'


%p= paginate @rebate_forms

%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th valuation_id
      %th Applicant
      %th Address
      %th When
      %th Signed
      %th Witnessed

  %tbody
    - @rebate_forms.each do |rebate_form|
      %tr{ class: rebate_form.fully_signed? ? 'pure-table-odd' : '' }
        %td= rebate_form.valuation_id
        %td= rebate_form.fields['full_name']
        %td
          - if rebate_form.property.present?
            %p
              = rebate_form.property.location
              %br/
              = rebate_form.property.suburb
              %br/
              = rebate_form.property.town_city
        %td= rebate_form.created_at.localtime
        %td
          - if rebate_form.applicant_signature.present?
            = rebate_form.applicant_signature.created_at.localtime
          - else
            = render 'sign_button', rebate_form: rebate_form
        %td= render 'witness', signature: rebate_form.witness_signature
        %td
          = link_to 'Show', admin_rebate_form_path(rebate_form), class: 'pure-button'
        %td
          - unless rebate_form.fully_signed?
            = link_to admin_rebate_form_path(rebate_form), method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'pure-button' do
              = fa_icon 'trash'

%p= paginate @rebate_forms
