- content_for :title, "rebate forms"

.pure-g
  .pure-u-1
    %h2
      Rebate forms
      - unless @council.nil?
        for #{@council.name}

  .pure-u-1-2
    = render 'search'
  .pure-u-1-2
    %p
      = link_to admin_rebate_forms_path(format: :csv, rating_year: @rating_year, location: @location), class: 'pure-button' do
        = fa_icon 'table'
        Download CSV

  .pure-u-1
    - if @rebate_forms.size.positive?
      = render 'results'
    - else
      %p No rebate forms found
