"YEAR (ending)","Council","Valuation Id","Applicant","Location","Suburb","Town/City","When"
- @rebate_forms.each do |rebate_form|
  "#{rebate_form.property.rating_year}","#{rebate_form.council.name}","#{rebate_form.valuation_id}","#{rebate_form.fields['full_name']}",#{rebate_form.property.location}","#{rebate_form.property.suburb}","#{rebate_form.property.town_city}","#{rebate_form.created_at.localtime}",
