.pure-g
  .pure-u-1
    .pure-g
      .pure-u-1-2
        %h3 Application for
        = @rebate_form.fields['full_name']
      .pure-u-1-3
        %h3 Address
        = @rebate_form.property.location
        %br/
        = @rebate_form.property.suburb
        %br/
        = @rebate_form.property.town_city
        %br/
  .pure-u-1
    .pure-g
      .pure-u-2-3
        %h3 Were you living at address at 1 July?
        %p #{@rebate_form.fields['lived_here_before_july_2017']}

        %h3 Did you live with a partner or a joint homeowner on 1 July?

        %h3 Do you have dependants?
        %p=rebate_form_pdf_dependants(@rebate_form)

        %h3 Do you run a business from home?
        %p=rebate_form_pdf_home_business(@rebate_form)

        %h3 Rebate amount
        %p=rebate_form_amount(@rebate_form)

      .pure-u-1-4
        %h3 Rates
        %table
          - @rebate_form.property.rates_bills.each do |bill|
            %tr
              %th Rates
              %td $ #{bill.total_rates}
            %tr
              %th Water
              %td $ #{bill.total_water_rates}
            %tr
              %th TOTAL
              %td $ #{bill.total_bill}
        %hr/
        %table


  .pure-u-1
    .pure-g
      .pure-u-2-3
        %h3 Declaration
        %p
          I #{@rebate_form.fields['full_name']} of
          #{@rebate_form.property.location}
          #{@rebate_form.property.town_city}
          solemnly and sincerely declare that I believe the information I have given on this form is true and correct, and I make this solemn declaration conscientiously believing the same to be true and by virtue of the Oaths and Declarations Act 1957.

      .pure-u-1-3
        image goes here

    .pure-g
      .pure-u-1-2
        %h3 At [TIMESTAMP] before me
        = render 'witness', signature: @rebate_form.signatures.witness.last


%hr/
/ .pure-g
/   .pure-u-1
/     .pure-g
/       .pure-u-1-4
/         %h2 Rebate
/         %p.rebate-amount $#{@rebate_form.rebate}
/       .pure-u-1-4= render 'property', rebate_form: @rebate_form
/       .pure-u-1-4= render 'rates_bills', rates_bills: @rebate_form.property.rates_bills
/       .pure-u-1-4= render 'applicant', rebate_form: @rebate_form

/   .pure-u-1
/     .pure-g
/       .pure-u-1-2
/         - if @rebate_form.fully_signed?
/           = render 'signatures'
/         - else
/           = render 'sign_button', rebate_form: @rebate_form
/       / .pure-u-1-4= render 'attachments', rebate_form: @rebate_form
/       .pure-u-1-4= render 'fields', fields: @rebate_form.fields
