- content_for :title, "RatesRebate #{@rebate_form.property.location}"

= render 'show_header'

%p#notice= notice


.pure-g
  .pure-u-1
    .pure-g
      .pure-u-1-4
        %h2 Rebate
        %p.rebate-amount $#{@rebate_form.rebate}
      .pure-u-1-4= render 'property', rebate_form: @rebate_form
      .pure-u-1-4= render 'rates_bills', rates_bill: @rates_bill
      .pure-u-1-4= render 'applicant', rebate_form: @rebate_form

  .pure-u-1
    .pure-g
      .pure-u-1-2
        - if @rebate_form.completed
          = render 'signatures'
        - else
          = render 'sign_button', rebate_form: @rebate_form
      .pure-u-1-4= render 'attachments', rebate_form: @rebate_form
      .pure-u-1-4= render 'fields', fields: @rebate_form.fields

- if @updated_by.present?
  %p
    %em="Updated by #{@updated_by.email} on #{@rebate_form.updated_at}"
