- content_for :title, "RatesRebate #{@rebate_form.property.location}"
%p#notice= notice

.pure-g
  .pure-u-1-4
    %h3 Valuation id
    %p= @rebate_form.valuation_id

    = render 'property', rebate_form: @rebate_form
    = render 'rates_bills', rates_bills: @rebate_form.property.rates_bills
    = render 'applicant', rebate_form: @rebate_form

  .pure-u-1-4
    %h2 Rebate
    %p $#{@rebate_form.rebate}

    %h3 Attach Evidence
    = form_for @rebate_form, url: { action: 'update' }, html: { class: 'pure-form pure-form-stacked' } do |f|
      = f.file_field :images, multiple: true, direct_upload: false
      = f.submit 'Attach', class: 'pure-button pure-button-primary'


    %h3 Files
    %ul
      - @rebate_form.images.each do |file|
        %li= image_tag file.variant(resize: '100x100')

  .pure-u-1-2
    %h3 Signatures
    - if @rebate_form.fully_signed?
      = render 'signatures'
    - else
      = render 'sign_button', rebate_form: @rebate_form

    = render 'fields', fields: @rebate_form.fields

%p
  = link_to 'Back', admin_rebate_forms_path
