%p#notice= notice



.pure-g
  .pure-u-1-3
    %h3 Valuation_id
    %p= @rebate_form.valuation_id
    %h3 Token
    %p= @rebate_form.token
  .pure-u-1-3
    %h3 Fields
    %dl
      - @rebate_form.fields.each do |name, value|
        %dt
          %h4= name
        %dl= value

  .pure-u-1-3
    %h3 Signatures
    - if @rebate_form.fully_signed?
      = render 'signatures'
    - else
      = render 'sign_button', rebate_form: @rebate_form
%p
  = link_to 'Back', admin_rebate_forms_path
