%table.pure-table
  %tr
    %th
    %th TOTALS
    %th Sum
    %th Average rebate
  %tr
    %th Completed
    %td= rebate_forms.where(status: RebateForm::SIGNED_STATUS).size
    %td= number_to_currency rebate_forms.where(status: RebateForm::SIGNED_STATUS).sum(:rebate)
    %td= number_to_currency rebate_forms.where(status: RebateForm::SIGNED_STATUS).average(:rebate)
  %tr
    %th Not Completed
    %td= rebate_forms.where(status: RebateForm::NOT_SIGNED_STATUS).size
    %td= number_to_currency rebate_forms.where(status: RebateForm::NOT_SIGNED_STATUS).sum(:rebate)
    %td= number_to_currency rebate_forms.where(status: RebateForm::NOT_SIGNED_STATUS).average(:rebate)
  %tr
    %th Total
    %td= rebate_forms.all.size
    %td= number_to_currency rebate_forms.all.sum(:rebate)
    %td= number_to_currency rebate_forms.all.average(:rebate)
