%h2 Listing users

%p
  = link_to new_user_invitation_path, class: 'pure-button' do
    = fa_icon 'plus'
    Invite new users

%table.pure-table.pure-table-horizontal
  %thead
    %tr
      %th Email
      %th Role
      %th Council

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td
          - user.roles.each do |r|
            %li= r.friendly_name
        %td
          - if user.council.present?
            = user.council.name

        - if policy(user).edit?
          %td= link_to 'edit', edit_admin_user_path(user)

        %td
          - if user.deactivated_at.present?
            Deactivated
            = user.deactivated_at
          - elsif policy(user).destroy?
            = link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'pure-button' do
              = fa_icon 'ban'
              deactivate
