A new rebate application has been sent to you.

%p= @rebate_form.full_name

%p
  %strong valuation id
  = @rebate_form.valuation_id
%p
  = @rebate_form.property.location
  %br/
  = @rebate_form.property.suburb
  %br/
  = @rebate_form.property.town_city
  %br/


%p= link_to 'Sign this', @rebate_form.signing_url
