

%p= paginate @properties

%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th Council
      %th Valuation ID
      %th Location
      %th Suburb
      %th Town/City
      %th Rating Year (ends)

  %tbody
    - @properties.each do |property|
      %tr
        %td= property.council.name
        %td= property.valuation_id
        %td= property.location
        %td= property.suburb
        %td= property.town_city
        %td= property.rating_year


%p= paginate @properties