.pure-menu.pure-menu-horizontal
  %ul.pure-menu-list
    - if current_user.present?
      %li.pure-menu-item
        = link_to 'rebate forms', admin_rebate_forms_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'councils', admin_councils_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'users', admin_users_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'invite new user', new_user_invitation_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to destroy_user_session_path, method: :delete do
          = fa_icon 'sign-out'
          Sign Out
    - else
      %li.pure-menu-item
        = link_to 'api docs', '/api/docs', class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'admin', new_user_session_path, class: 'pure-menu-link'
