!!!
%html
  %head
    %title= yield(:title)
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
  .pure-g
    .pure-u-1-2
      %h1
        %strong Rates Rebates
        Te Whakamāmā i ngā Reiti
    .pure-u-1-2
      = render 'layouts/menu'
    .pure-u-1
      #main
        - flash.each do |name, msg|
          = content_tag :div, msg, class: name
        = yield
